/* body{
    
} */
body {
  background-image: url("/pokeballfile/battle_ground.png");
  background-size: 100% 120%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Pixelify Sans' , sans-serif
}
audio {
  display: none;
}

.textarea {
  background-color: rgb(8, 131, 255);
  z-index: 1;
  background-size: 100% 100%;
  color: #F1F1EC;
  overflow: auto;
  padding-top: 1rem;
  top: 1rem;
  right: 19rem;
  height: 15%;
  width: 60%;
  position: absolute;
  border-radius: 0.625rem;
}
div {
  cursor: pointer;
}
.player1 {
  width: 15%;
  padding-top: 2rem;
  align-items: space-around;
}
.main_ground {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
.player2 {
  width: 15%;
  padding-top: 2rem;
  align-items: space-between;
}

.p1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player1 div {
  background-image: url("/pokeballfile/closed_pokeball.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 2rem;
}

.player2 div {
  background-image: url("/pokeballfile/closed_pokeball.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 2rem;
}
