body{
      background-image: url("/pokeballfile/battle_ground.png");
      background-size: 100vw 100vh;
      background-repeat: no-repeat;
      overflow-x: hidden;
      overflow-y: hidden;
}

#body {

  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Pixelify Sans' , sans-serif;
}
audio {
  display: none;
}

.textarea {
  position:absolute;
  background-color: rgb(8, 131, 255);
  z-index: 1;
  background-size: 100% 100%;
  color: #F1F1EC;
  overflow: auto;
  padding-top: 1rem;
  top: 1vh;
  height: 10%;
  width: 60%;
  position: absolute;
  margin: auto;
  margin-bottom: 10rem;
  border-radius: 0.625rem;
}
div {
  cursor: pointer;
}
.player1 {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  row-gap: 2vh;
  height: 90vh;
}
.main_ground {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}
.player2 {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  row-gap: 2vh;
  height: 90vh;
}

.p1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 70vh;
  margin-top : 20rem;
}
.p1 img{
  height: 10vh;
  padding-bottom:3rem;
}

.p2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 70vh;
  margin-top : 20rem;
}

.p2 img{
  height: 10vh;
  padding-bottom:3rem;
}

.player1 div {
  position:relative;
  background-image: url("/pokeballfile/closed_pokeball.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 10vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  scale : 1;
  margin : 0;
  padding : 0;
}
.player1 div p{
  position:absolute;
  top:100%;
  
}
.player2 div {
  position:relative;
  background-image: url("/pokeballfile/closed_pokeball.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 10vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  scale : 1;
  margin : 0;
  padding : 0;
}

.player2 div p{
  position:absolute;
  top:100%;
  
}

.loading_gif{
    padding-top: 5rem;
    padding-left: 30rem;
    padding-right: 30rem;
    margin: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loading_bar{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.pokemon_running{
    height: 20rem;
}

.reddiv{
  width : 10rem;
  margin-top : -2.2rem;
  z-index : -1;
  height : 2rem;
  background-color : red;
  border : white 0.2rem solid;
  border-radius : 1rem;
}

.healthtextp{
background-color : #86a93c;
border : white 0.2rem solid;
border-radius : 1rem;
padding : 1rem;
}

.healthtext{
/* margin-top : 5rem; */
background-color : green;
height : 2rem;
border-radius : 1rem;
font-size : 1.875rem;
}

.buttonheavy{
background-color : #d35f56;
margin-right : 0.625rem;
width : 10rem;
height : 2.5rem;
border : white 0.2rem solid;
border-radius : 1rem;
}

.attackdiv{
width : 20rem;
height : 15rem;
display :flex;
flex-direction : row;
justify-content : space-around;
margin-top : 0.625rem;
}

.buttonlight{
border : white 0.2rem solid;
border-radius : 1rem;
background-color : #e2e1d9;
width : 10rem;
font-size : 1.25rem;
font-size : 1.25rem;
height : 2.5rem;
}

.name{
font-weight : bolder;
font-size : 2vh;
color : red;
}

.img{
visibility : hidden;
scale :3;
/* transform: translateX(5rem); */
}

.text{
  font-size : 1.875rem;
}